nuxeo-aws-bedrock-connector-package/src/main/resources/install/templates/embedding-sample/nxserver/config/schemas/vector-search_pp.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/vector-search_pp"
           targetNamespace="http://www.nuxeo.org/ecm/project/schemas/vector-search_pp">
  <!-- helper XSD definitions for list types -->  
  <xs:element name="embedding_text" type="xs:string"/>
  <xs:element name="embedding_image" type="xs:string"/>
  <xs:element name="dublincore_title" type="xs:string"/>
</xs:schema>
